body {
    background-image: URL("./src/img/image-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*resize the background image to cover the entire container */
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 95%;
    margin: auto;
    font-size: 14px;
    font-family: Courier, monospace;
}

.content-left, .content-right{
    margin-top: 3.07vh;
    height: 90vh;
}

.content-left {
    width: 30%;
    float: left;
    background-color: #DCDCDC;
    border-radius: 15px 0px 0px 15px;
}

.content-right {
    width: 70%;
    float: right;
    background-image: url("./src/img/image-content-right.jpg");
    background-size: cover;
    border-radius: 0px 15px 15px 0px;
}

.profile-information {
    width: 90%;
    margin: 3.07vh 0 0 3.07vh;
    height: 58px;
}

.profile-photo {
    width: 50px;
    height: 50px;
    background-size: cover;
    float: left;
    background-image: url("./src/img/profile-photo.png");
}

.profile-data {
    width: auto;
    padding-top: 1.33vh;
}

.profile-name, .profile-email {
    width: 80%;
    height: 100%;
    float: right;
    align-items: center;
    display: flex;
}

.profile-email {
    font-size: 10px;
}

.search-information {
    padding: 10px;
    background-color: Silver;
    width: 16.41vh;
    border-radius: 8px;
    margin: 1.53vh 1.53vh 15px 3.07vh;
}

.search-icon {
    width: 17px;
    height: 17px;
    background-size: cover;
    float: left;
    background-image: url("./src/img/search-icon.png");
}

.search {
    margin-left:  1.02vh;
    width: 70%;
}

/* Desktop */
@media only screen and (max-device-width: 1024px) {
    .content {
        font-size: 12px;
    }

    .profile-email {
        font-size: 10px;
    }

    .profile-photo {
        width: 40px;
        height: 40px;
    }
}