body {
    background-image: URL("./src/img/image-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*resize the background image to cover the entire container */
    height: 100%;
    overflow: hidden;
}

.content {
    width: 95%;
    height: 100%;
    margin: auto;
    font-size: 12px;
    font-family: Courier, monospace;
}

.content-left, 
.content-right{
    margin-top: 3.07vh;
    height: 90vh;
}

.content-left {
    width: 30%;
    float: left;
    background-color: #DCDCDC;
    border-radius: 15px 0px 0px 15px;
}

.content-right {
    width: 70%;
    float: right;
    background-image: url("./src/img/image-content-right.jpg");
    background-size: cover;
    border-radius: 0px 15px 15px 0px;
}

.profile-information {
    width: 90%;
    margin: 30px 0 0 30px;
    height: 58px;
}

.profile-photo {
    width: 50px;
    height: 50px;
    background-size: cover;
    float: left;
    background-image: url("./src/img/profile-photo.png");
}

.profile-data {
    width: auto;
    padding-top: 13px;
}

.profile-name,
.profile-email {
    padding-left: 5px;
    align-items: center;
    display: flex;
}

.profile-email {
    font-size: 10px;
}

.search-information {
    padding: 5px;
    background-color: Silver;
    width: 130px;
    border-radius: 8px;
}

.search-icon {
    width: 16px;
    height: 16px;
    background-size: cover;
    float: left;
    background-image: url("./src/img/search-icon.png");
}

.search {
    padding-left:  10px;
    background-color: transparent;
    border: transparent;
}

.search:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.sun-icon {
    background-image: url("./src/img/sun-icon.png");
    width: 25px;
    height: 25px;
    background-size: cover;
    float: left;
}

.my-day {
    padding-top: 6px;
    padding-left: 34px;
}

.star-icon {
    background-image: url("./src/img/star-icon.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    float: left;
}

.important {
    padding-top: 4px;
    padding-left: 34px;
}

.search,
.my-day {
    width: 70%;
    width: 70%;
}

.search-information, 
.my-day-information, 
.important-information {
    margin: 14px 14px 15px 30px;
}

/* Desktop 1024px*/
@media only screen and (max-device-width: 1098px) {
    .profile-photo {
        width: 40px;
        height: 40px;
    }
}

/* Desktop 2560pxpx*/
@media only screen and (min-device-width: 2560px) {
    .content {
        font-size: 14px;
    }

    .profile-email {
        font-size: 12px;
    }
}