body {
    background-image: URL("./src/img/image-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /*resize the background image to cover the entire container */
    height: 100%;
    overflow: hidden;
}

.content {
    width: 95%;
    height: 100%;
    margin: auto;
    font-size: 12px;
    font-family: Courier, monospace;
}

.content-left, 
.content-right{
    margin-top: 3.07vh;
    height: 90vh;
}

.content-left {
    width: 30%;
    float: left;
    background-color: #DCDCDC;
    border-radius: 15px 0px 0px 15px;
}

.content-right {
    width: 70%;
    float: right;
    border-radius: 0px 15px 15px 0px;
    background-size: cover;
    background-image: url("./src/img/image-content-right.jpg");
}

.profile-information {
    width: 90%;
    height: 58px;
    margin: 30px 0 0 30px;
}

.profile-photo {
    width: 50px;
    height: 50px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/profile-photo.png");
}

.profile-data {
    width: auto;
}

.profile-name,
.profile-email {
    display: flex;
    margin: 0;
    padding-left: 5px;
    align-items: center;
}

.profile-name {
    padding-top: 13px;
    font-size: 14px;
}

.profile-email {
    font-size: 10px;
}

.search-information {
    padding: 5px;
    width: 130px;
    border-radius: 8px;
    background-color: Silver;
}

.search-icon {
    width: 16px;
    height: 16px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/search-icon.png");
}

.search {
    padding-left:  10px;
    border: transparent;
    background-color: transparent;
}

.search:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.my-day-information {
    height: 27px;
}

.sun-icon {
    width: 27px;
    height: 27px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/sun-icon.png");
}

.important-information {
    height: 20px;
}

.star-icon {
    width: 20px;
    height: 20px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/star-icon.png");
}

.planned-information {
    height: 19px;
}

.planeed-icon {
    width: 19px;
    height: 19px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/planned-icon.png");
}

.all-information {
    height: 19px;
}

.all-icon {
    width: 19px;
    height: 19px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/all-icon.png");
}

.completed-information {
    height: 19px;
}

.completed-icon {
    width: 19px;
    height: 19px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/completed-icon.png");
}

.assigned-information {
    height: 21px;
}

.assigned-icon {
    width: 21px;
    height: 21px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/assigned-icon.png");
}

.task-information {
    height: 21px;
}

.task-icon {
    width: 21px;
    height: 21px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/task-icon.png");
}

.new-list-information {
    height: 20px;
    float: inline-end;
}

.new-list-icon {
    width: 20px;
    height: 20px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/new-list-icon.png");
}

.search,
.my-day {
    width: 70%;
}

.my-day,
.important,
.planned,
.all,
.completed,
.assigned,
.task,
.new-list {
    margin: auto auto auto 8px;
}

.search-information, 
.my-day-information, 
.important-information,
.planned-information,
.all-information,
.completed-information,
.assigned-information,
.task-information,
.new-list-information {
    margin: 14px 14px 15px 30px;
    display: flex;
}

.to-do {
    padding: 10px;
}

.to-do-list-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.to-do-list-new,
.to-do-item {
    padding: 12px;
    display: flex;
    width: 90%;
    border-radius: 8px;
    background-color: white;
    margin: 5px;
    align-items: center;
    position: relative;
}

.to-do-list-new-input {
    border: 0;
    width: 100%;
    padding: 0 5px 0 5px;
}

.to-do-list-new-input:focus {
    box-shadow: 0;
    outline: 0;
}

.to-do-item-description {
    margin: 0px 10px 0px 10px;
}

.to-do-item-button {
    right: 0;
    position: absolute;
    margin: 12px;
}

input[type="checkbox"]:checked + div.to-do-item-description {
    text-decoration: line-through;
}

.to-do-item:hover {
    background-color: #FAF0E6;
}

.more-icon {
    width: 20px;
    height: 20px;
    float: left;
    background-size: cover;
    background-image: url("./src/img/more-icon.png");
}

/* Desktop 1024px*/
@media only screen and (max-device-width: 1098px) {
    .profile-photo {
        width: 40px;
        height: 40px;
    }
}

/* Desktop 2560pxpx*/
@media only screen and (min-device-width: 2560px) {
    .content {
        font-size: 14px;
    }

    .profile-email {
        font-size: 12px;
    }
}